// colors
$bglight : #1B2734;
$bgdark : #090B10;
$white : #fff;
$red : red;

// Repetitious Codes
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// animations

@keyframes starsani {
    to{transform: translateY(200px);}
}

// functions
@mixin starf($size) {
    background-color: $white;
    width: $size+px;
    height: $size+px;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px $white;
    position: absolute;
    top: -250px;
    // left: 100px;

    @for $a from 1 through 100 {
        &:nth-of-type(#{$a}) {
            top: (random(100))+#{'%'};
            left: (random(100))+#{'%'};
        }
    }
}
