@import "global";

.background{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #1b2734, #18202b, #151a22, #111419, #090b10);
    position: relative;
    overflow: hidden;
    >.big{
        >.star{
            position: relative;
            animation: starsani 10s linear infinite;
            @include starf(5);
        }
    }
    >.small{
        >.star{
            animation: starsani 20s linear infinite;
            @include starf(1);
        }
    }
}

.rocket{
    background-color: $white;
    -webkit-clip-path: polygon(50% 0%, 82% 24%, 83% 65%, 100% 100%, 0 100%, 20% 68%, 20% 25%);
    clip-path: polygon(50% 0%, 82% 24%, 83% 65%, 100% 100%, 0 100%, 20% 68%, 20% 25%);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.fire-rocket{
    background-color: yellow;
    height: 200px;
    width: 30px;
    border-radius: 70%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-28%);
    box-shadow: 0 0 20px red;
    border: 4px solid red;
    z-index: 1;
}

.earth{
    position: absolute;
    left: 50%;
    translate: -50% 0;
    animation: earthani 10s infinite;
    >img{
        box-shadow: 0 0 20px blue;
        border-radius: 50%;
    }
}