* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes starsmovement {
  100% {
    transform: translateY(3000px);
  }
}
.background {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #1b2734, #18202b, #151a22, #111419, #090b10);
  position: relative;
}
.background > .big {
  width: 100%;
  height: 100%;
}
.background > .big > .star {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #fff;
  position: absolute;
  top: 50px;
  left: 100px;
}
.background > .big > .star:nth-of-type(1) {
  top: 94%;
  left: 47%;
}
.background > .big > .star:nth-of-type(2) {
  top: 91%;
  left: 24%;
}
.background > .big > .star:nth-of-type(3) {
  top: 55%;
  left: 51%;
}
.background > .big > .star:nth-of-type(4) {
  top: 83%;
  left: 68%;
}
.background > .big > .star:nth-of-type(5) {
  top: 75%;
  left: 92%;
}
.background > .big > .star:nth-of-type(6) {
  top: 47%;
  left: 97%;
}
.background > .big > .star:nth-of-type(7) {
  top: 1%;
  left: 15%;
}
.background > .big > .star:nth-of-type(8) {
  top: 7%;
  left: 82%;
}
.background > .big > .star:nth-of-type(9) {
  top: 72%;
  left: 40%;
}
.background > .big > .star:nth-of-type(10) {
  top: 54%;
  left: 15%;
}
.background > .big > .star:nth-of-type(11) {
  top: 74%;
  left: 87%;
}
.background > .big > .star:nth-of-type(12) {
  top: 57%;
  left: 51%;
}
.background > .big > .star:nth-of-type(13) {
  top: 28%;
  left: 14%;
}
.background > .big > .star:nth-of-type(14) {
  top: 16%;
  left: 80%;
}
.background > .big > .star:nth-of-type(15) {
  top: 48%;
  left: 23%;
}
.background > .big > .star:nth-of-type(16) {
  top: 10%;
  left: 38%;
}
.background > .big > .star:nth-of-type(17) {
  top: 52%;
  left: 82%;
}
.background > .big > .star:nth-of-type(18) {
  top: 84%;
  left: 38%;
}
.background > .big > .star:nth-of-type(19) {
  top: 48%;
  left: 45%;
}
.background > .big > .star:nth-of-type(20) {
  top: 94%;
  left: 81%;
}
.background > .big > .star:nth-of-type(21) {
  top: 59%;
  left: 2%;
}
.background > .big > .star:nth-of-type(22) {
  top: 37%;
  left: 68%;
}
.background > .big > .star:nth-of-type(23) {
  top: 57%;
  left: 80%;
}
.background > .big > .star:nth-of-type(24) {
  top: 78%;
  left: 73%;
}
.background > .big > .star:nth-of-type(25) {
  top: 34%;
  left: 75%;
}
.background > .big > .star:nth-of-type(26) {
  top: 7%;
  left: 41%;
}
.background > .big > .star:nth-of-type(27) {
  top: 92%;
  left: 7%;
}
.background > .big > .star:nth-of-type(28) {
  top: 35%;
  left: 29%;
}
.background > .big > .star:nth-of-type(29) {
  top: 68%;
  left: 35%;
}
.background > .big > .star:nth-of-type(30) {
  top: 81%;
  left: 20%;
}
.background > .big > .star:nth-of-type(31) {
  top: 59%;
  left: 84%;
}
.background > .big > .star:nth-of-type(32) {
  top: 32%;
  left: 26%;
}
.background > .big > .star:nth-of-type(33) {
  top: 57%;
  left: 99%;
}
.background > .big > .star:nth-of-type(34) {
  top: 39%;
  left: 59%;
}
.background > .big > .star:nth-of-type(35) {
  top: 62%;
  left: 45%;
}
.background > .big > .star:nth-of-type(36) {
  top: 13%;
  left: 20%;
}
.background > .big > .star:nth-of-type(37) {
  top: 19%;
  left: 53%;
}
.background > .big > .star:nth-of-type(38) {
  top: 34%;
  left: 87%;
}
.background > .big > .star:nth-of-type(39) {
  top: 88%;
  left: 39%;
}
.background > .big > .star:nth-of-type(40) {
  top: 13%;
  left: 27%;
}
.background > .big > .star:nth-of-type(41) {
  top: 46%;
  left: 36%;
}
.background > .big > .star:nth-of-type(42) {
  top: 38%;
  left: 88%;
}
.background > .big > .star:nth-of-type(43) {
  top: 72%;
  left: 36%;
}
.background > .big > .star:nth-of-type(44) {
  top: 32%;
  left: 64%;
}
.background > .big > .star:nth-of-type(45) {
  top: 37%;
  left: 34%;
}
.background > .big > .star:nth-of-type(46) {
  top: 55%;
  left: 1%;
}
.background > .big > .star:nth-of-type(47) {
  top: 75%;
  left: 74%;
}
.background > .big > .star:nth-of-type(48) {
  top: 1%;
  left: 49%;
}
.background > .big > .star:nth-of-type(49) {
  top: 85%;
  left: 73%;
}
.background > .big > .star:nth-of-type(50) {
  top: 44%;
  left: 71%;
}
.background > .big > .star:nth-of-type(51) {
  top: 84%;
  left: 76%;
}
.background > .big > .star:nth-of-type(52) {
  top: 53%;
  left: 80%;
}
.background > .big > .star:nth-of-type(53) {
  top: 9%;
  left: 4%;
}
.background > .big > .star:nth-of-type(54) {
  top: 54%;
  left: 1%;
}
.background > .big > .star:nth-of-type(55) {
  top: 42%;
  left: 95%;
}
.background > .big > .star:nth-of-type(56) {
  top: 31%;
  left: 17%;
}
.background > .big > .star:nth-of-type(57) {
  top: 88%;
  left: 70%;
}
.background > .big > .star:nth-of-type(58) {
  top: 42%;
  left: 24%;
}
.background > .big > .star:nth-of-type(59) {
  top: 10%;
  left: 8%;
}
.background > .big > .star:nth-of-type(60) {
  top: 9%;
  left: 1%;
}
.background > .big > .star:nth-of-type(61) {
  top: 78%;
  left: 95%;
}
.background > .big > .star:nth-of-type(62) {
  top: 20%;
  left: 45%;
}
.background > .big > .star:nth-of-type(63) {
  top: 34%;
  left: 71%;
}
.background > .big > .star:nth-of-type(64) {
  top: 59%;
  left: 73%;
}
.background > .big > .star:nth-of-type(65) {
  top: 27%;
  left: 13%;
}
.background > .big > .star:nth-of-type(66) {
  top: 50%;
  left: 30%;
}
.background > .big > .star:nth-of-type(67) {
  top: 86%;
  left: 77%;
}
.background > .big > .star:nth-of-type(68) {
  top: 72%;
  left: 4%;
}
.background > .big > .star:nth-of-type(69) {
  top: 41%;
  left: 83%;
}
.background > .big > .star:nth-of-type(70) {
  top: 33%;
  left: 22%;
}
.background > .big > .star:nth-of-type(71) {
  top: 28%;
  left: 7%;
}
.background > .big > .star:nth-of-type(72) {
  top: 44%;
  left: 60%;
}
.background > .big > .star:nth-of-type(73) {
  top: 96%;
  left: 41%;
}
.background > .big > .star:nth-of-type(74) {
  top: 82%;
  left: 45%;
}
.background > .big > .star:nth-of-type(75) {
  top: 11%;
  left: 66%;
}
.background > .big > .star:nth-of-type(76) {
  top: 22%;
  left: 64%;
}
.background > .big > .star:nth-of-type(77) {
  top: 92%;
  left: 71%;
}
.background > .big > .star:nth-of-type(78) {
  top: 97%;
  left: 92%;
}
.background > .big > .star:nth-of-type(79) {
  top: 76%;
  left: 92%;
}
.background > .big > .star:nth-of-type(80) {
  top: 38%;
  left: 95%;
}
.background > .big > .star:nth-of-type(81) {
  top: 92%;
  left: 99%;
}
.background > .big > .star:nth-of-type(82) {
  top: 40%;
  left: 61%;
}
.background > .big > .star:nth-of-type(83) {
  top: 46%;
  left: 88%;
}
.background > .big > .star:nth-of-type(84) {
  top: 90%;
  left: 82%;
}
.background > .big > .star:nth-of-type(85) {
  top: 49%;
  left: 47%;
}
.background > .big > .star:nth-of-type(86) {
  top: 58%;
  left: 20%;
}
.background > .big > .star:nth-of-type(87) {
  top: 59%;
  left: 16%;
}
.background > .big > .star:nth-of-type(88) {
  top: 37%;
  left: 73%;
}
.background > .big > .star:nth-of-type(89) {
  top: 69%;
  left: 98%;
}
.background > .big > .star:nth-of-type(90) {
  top: 54%;
  left: 62%;
}
.background > .big > .star:nth-of-type(91) {
  top: 66%;
  left: 87%;
}
.background > .big > .star:nth-of-type(92) {
  top: 67%;
  left: 9%;
}
.background > .big > .star:nth-of-type(93) {
  top: 79%;
  left: 19%;
}
.background > .big > .star:nth-of-type(94) {
  top: 28%;
  left: 14%;
}
.background > .big > .star:nth-of-type(95) {
  top: 83%;
  left: 33%;
}
.background > .big > .star:nth-of-type(96) {
  top: 22%;
  left: 83%;
}
.background > .big > .star:nth-of-type(97) {
  top: 52%;
  left: 61%;
}
.background > .big > .star:nth-of-type(98) {
  top: 70%;
  left: 51%;
}
.background > .big > .star:nth-of-type(99) {
  top: 70%;
  left: 75%;
}
.background > .big > .star:nth-of-type(100) {
  top: 1%;
  left: 6%;
}
.background > .small > .star {
  background-color: #fff;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #fff;
  position: absolute;
  top: 50px;
  left: 100px;
}
.background > .small > .star:nth-of-type(1) {
  top: 47%;
  left: 79%;
}
.background > .small > .star:nth-of-type(2) {
  top: 81%;
  left: 94%;
}
.background > .small > .star:nth-of-type(3) {
  top: 40%;
  left: 74%;
}
.background > .small > .star:nth-of-type(4) {
  top: 85%;
  left: 97%;
}
.background > .small > .star:nth-of-type(5) {
  top: 35%;
  left: 8%;
}
.background > .small > .star:nth-of-type(6) {
  top: 36%;
  left: 46%;
}
.background > .small > .star:nth-of-type(7) {
  top: 47%;
  left: 27%;
}
.background > .small > .star:nth-of-type(8) {
  top: 99%;
  left: 71%;
}
.background > .small > .star:nth-of-type(9) {
  top: 78%;
  left: 68%;
}
.background > .small > .star:nth-of-type(10) {
  top: 13%;
  left: 73%;
}
.background > .small > .star:nth-of-type(11) {
  top: 4%;
  left: 70%;
}
.background > .small > .star:nth-of-type(12) {
  top: 6%;
  left: 86%;
}
.background > .small > .star:nth-of-type(13) {
  top: 72%;
  left: 29%;
}
.background > .small > .star:nth-of-type(14) {
  top: 50%;
  left: 37%;
}
.background > .small > .star:nth-of-type(15) {
  top: 69%;
  left: 78%;
}
.background > .small > .star:nth-of-type(16) {
  top: 26%;
  left: 62%;
}
.background > .small > .star:nth-of-type(17) {
  top: 5%;
  left: 41%;
}
.background > .small > .star:nth-of-type(18) {
  top: 20%;
  left: 99%;
}
.background > .small > .star:nth-of-type(19) {
  top: 63%;
  left: 34%;
}
.background > .small > .star:nth-of-type(20) {
  top: 49%;
  left: 51%;
}
.background > .small > .star:nth-of-type(21) {
  top: 53%;
  left: 23%;
}
.background > .small > .star:nth-of-type(22) {
  top: 92%;
  left: 36%;
}
.background > .small > .star:nth-of-type(23) {
  top: 14%;
  left: 6%;
}
.background > .small > .star:nth-of-type(24) {
  top: 6%;
  left: 32%;
}
.background > .small > .star:nth-of-type(25) {
  top: 72%;
  left: 38%;
}
.background > .small > .star:nth-of-type(26) {
  top: 99%;
  left: 10%;
}
.background > .small > .star:nth-of-type(27) {
  top: 18%;
  left: 31%;
}
.background > .small > .star:nth-of-type(28) {
  top: 80%;
  left: 68%;
}
.background > .small > .star:nth-of-type(29) {
  top: 53%;
  left: 13%;
}
.background > .small > .star:nth-of-type(30) {
  top: 10%;
  left: 43%;
}
.background > .small > .star:nth-of-type(31) {
  top: 18%;
  left: 36%;
}
.background > .small > .star:nth-of-type(32) {
  top: 82%;
  left: 13%;
}
.background > .small > .star:nth-of-type(33) {
  top: 64%;
  left: 92%;
}
.background > .small > .star:nth-of-type(34) {
  top: 19%;
  left: 100%;
}
.background > .small > .star:nth-of-type(35) {
  top: 77%;
  left: 43%;
}
.background > .small > .star:nth-of-type(36) {
  top: 81%;
  left: 30%;
}
.background > .small > .star:nth-of-type(37) {
  top: 72%;
  left: 48%;
}
.background > .small > .star:nth-of-type(38) {
  top: 80%;
  left: 18%;
}
.background > .small > .star:nth-of-type(39) {
  top: 69%;
  left: 59%;
}
.background > .small > .star:nth-of-type(40) {
  top: 19%;
  left: 81%;
}
.background > .small > .star:nth-of-type(41) {
  top: 95%;
  left: 44%;
}
.background > .small > .star:nth-of-type(42) {
  top: 10%;
  left: 22%;
}
.background > .small > .star:nth-of-type(43) {
  top: 28%;
  left: 61%;
}
.background > .small > .star:nth-of-type(44) {
  top: 83%;
  left: 50%;
}
.background > .small > .star:nth-of-type(45) {
  top: 12%;
  left: 99%;
}
.background > .small > .star:nth-of-type(46) {
  top: 39%;
  left: 94%;
}
.background > .small > .star:nth-of-type(47) {
  top: 40%;
  left: 28%;
}
.background > .small > .star:nth-of-type(48) {
  top: 85%;
  left: 45%;
}
.background > .small > .star:nth-of-type(49) {
  top: 65%;
  left: 70%;
}
.background > .small > .star:nth-of-type(50) {
  top: 80%;
  left: 36%;
}
.background > .small > .star:nth-of-type(51) {
  top: 93%;
  left: 98%;
}
.background > .small > .star:nth-of-type(52) {
  top: 93%;
  left: 23%;
}
.background > .small > .star:nth-of-type(53) {
  top: 23%;
  left: 78%;
}
.background > .small > .star:nth-of-type(54) {
  top: 14%;
  left: 75%;
}
.background > .small > .star:nth-of-type(55) {
  top: 56%;
  left: 99%;
}
.background > .small > .star:nth-of-type(56) {
  top: 61%;
  left: 76%;
}
.background > .small > .star:nth-of-type(57) {
  top: 60%;
  left: 44%;
}
.background > .small > .star:nth-of-type(58) {
  top: 52%;
  left: 60%;
}
.background > .small > .star:nth-of-type(59) {
  top: 1%;
  left: 31%;
}
.background > .small > .star:nth-of-type(60) {
  top: 85%;
  left: 16%;
}
.background > .small > .star:nth-of-type(61) {
  top: 13%;
  left: 1%;
}
.background > .small > .star:nth-of-type(62) {
  top: 89%;
  left: 24%;
}
.background > .small > .star:nth-of-type(63) {
  top: 98%;
  left: 79%;
}
.background > .small > .star:nth-of-type(64) {
  top: 35%;
  left: 92%;
}
.background > .small > .star:nth-of-type(65) {
  top: 84%;
  left: 9%;
}
.background > .small > .star:nth-of-type(66) {
  top: 43%;
  left: 81%;
}
.background > .small > .star:nth-of-type(67) {
  top: 20%;
  left: 69%;
}
.background > .small > .star:nth-of-type(68) {
  top: 24%;
  left: 1%;
}
.background > .small > .star:nth-of-type(69) {
  top: 20%;
  left: 28%;
}
.background > .small > .star:nth-of-type(70) {
  top: 16%;
  left: 74%;
}
.background > .small > .star:nth-of-type(71) {
  top: 11%;
  left: 63%;
}
.background > .small > .star:nth-of-type(72) {
  top: 32%;
  left: 44%;
}
.background > .small > .star:nth-of-type(73) {
  top: 86%;
  left: 46%;
}
.background > .small > .star:nth-of-type(74) {
  top: 92%;
  left: 98%;
}
.background > .small > .star:nth-of-type(75) {
  top: 74%;
  left: 99%;
}
.background > .small > .star:nth-of-type(76) {
  top: 98%;
  left: 48%;
}
.background > .small > .star:nth-of-type(77) {
  top: 3%;
  left: 13%;
}
.background > .small > .star:nth-of-type(78) {
  top: 56%;
  left: 25%;
}
.background > .small > .star:nth-of-type(79) {
  top: 7%;
  left: 40%;
}
.background > .small > .star:nth-of-type(80) {
  top: 21%;
  left: 98%;
}
.background > .small > .star:nth-of-type(81) {
  top: 14%;
  left: 73%;
}
.background > .small > .star:nth-of-type(82) {
  top: 41%;
  left: 20%;
}
.background > .small > .star:nth-of-type(83) {
  top: 78%;
  left: 58%;
}
.background > .small > .star:nth-of-type(84) {
  top: 89%;
  left: 87%;
}
.background > .small > .star:nth-of-type(85) {
  top: 75%;
  left: 87%;
}
.background > .small > .star:nth-of-type(86) {
  top: 43%;
  left: 2%;
}
.background > .small > .star:nth-of-type(87) {
  top: 90%;
  left: 85%;
}
.background > .small > .star:nth-of-type(88) {
  top: 30%;
  left: 7%;
}
.background > .small > .star:nth-of-type(89) {
  top: 18%;
  left: 7%;
}
.background > .small > .star:nth-of-type(90) {
  top: 80%;
  left: 17%;
}
.background > .small > .star:nth-of-type(91) {
  top: 95%;
  left: 66%;
}
.background > .small > .star:nth-of-type(92) {
  top: 5%;
  left: 28%;
}
.background > .small > .star:nth-of-type(93) {
  top: 81%;
  left: 35%;
}
.background > .small > .star:nth-of-type(94) {
  top: 9%;
  left: 25%;
}
.background > .small > .star:nth-of-type(95) {
  top: 31%;
  left: 49%;
}
.background > .small > .star:nth-of-type(96) {
  top: 34%;
  left: 86%;
}
.background > .small > .star:nth-of-type(97) {
  top: 92%;
  left: 55%;
}
.background > .small > .star:nth-of-type(98) {
  top: 69%;
  left: 69%;
}
.background > .small > .star:nth-of-type(99) {
  top: 59%;
  left: 19%;
}
.background > .small > .star:nth-of-type(100) {
  top: 18%;
  left: 86%;
}

.rocket {
  background-color: #fff;
  -webkit-clip-path: polygon(50% 0%, 82% 24%, 83% 65%, 100% 100%, 0 100%, 20% 68%, 20% 25%);
  clip-path: polygon(50% 0%, 82% 24%, 83% 65%, 100% 100%, 0 100%, 20% 68%, 20% 25%);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.fire-rocket {
  background-color: yellow;
  height: 200px;
  width: 30px;
  border-radius: 70%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -28%);
  box-shadow: 0 0 20px red;
  border: 4px solid red;
  z-index: 1;
}

/*# sourceMappingURL=master.css.map */
